* {
  background-color: coral;
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  height: 95vh;
  font-family: comic sans-serif, Arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: coral;
}

.menu {
  flex-grow: 1;
  width: 70%;
  height: 68vh;
  border-radius: 10px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz {
  flex-grow: 1;
  width: 70%;
  height: 68vh;
  border-radius: 10px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end {
  flex-grow: 1;
  width: 70%;
  height: 68vh;
  border-radius: 10px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  background-color: cornsilk;
}
.prev {
  width: 100%;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pushbutton {
  display: inline-block;
  background-color: blueviolet;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: cornsilk;
  text-align: center;
  font-size: 3.5vh;
  padding: 1vw;
  height: 8vh;
  width: 14vw;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.submitbutton {
  display: inline-block;
  background-color: blueviolet;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: cornsilk;
  text-align: center;
  font-size: 3.5vh;
  padding: 1vw;
  height: 8vh;
  width: 14vw;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.heading1 {
  display: flex;
  border-radius: 4vh;
  background-color: lightsalmon;
  font-size: 5vh;
  padding: 1.2vw;
  font-family: cursive;
  color: whitesmoke;
}
.optionbutton {
  display: inline-block;
  background-color: burlywood;
  border-radius: 8px;
  color: black;
  text-align: center;
  font-size: 3vh;
  padding: 1vh;
  height: auto;
  width: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 px;
}

.heading2 {
  font-size: 2.5vh;
  color: black;
  background-color: cornsilk;
}
.heading3 {
  font-size: 3.5vh;
  color: black;
  background-color: cornsilk;
}
.heading4 {
  font-size: 3.2vh;
  color: black;
  background-color: cornsilk;
}

.options {
  width: 100%;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button:hover,
.optionbutton:hover {
  height: 5vw;
  width: 20vw;
  background-color: rosybrown;
}
button:hover,
.pushbutton:hover {
  height: 10vh;
  width: 16vw;
  background-color: purple;
}

button:focus,
.optionbutton:focus {
  height: 5vw;
  width: 14vw;
  color: black;
  background-color: palegoldenrod;
}
